/*$color1:#EFDDC;
$color2:#DDBB98;
$color3:#778AAB;
$color4:#B4B387;
*/

/*$color1:#778AAB;
$color2:#FFB17A;
$color3:#A23E48;
$color4:#A8C69F;
$color5:#243B4A;
*/
/*scout-app converts scss to css*/